* {
    box-sizing: border-box;
  }
  
  .myHeader{
    margin-top: 0px;
    margin-bottom: 25px;
    border: 1px;
    padding-top: 15px;
    padding-left: 10px;
    height: 250px;
    background-image: url("../images/city-1940691_640.jpg");
  }

  .theTitle{
      font-family: 'Montserrat', sans-serif;
      font-size: 8vw;
      text-align: left;
      margin: 2px;
      padding-left: 15px;
      color: green;
  }

    
  html, body {
    height: 100%;
  }

  body{
      background-color: crimson; 
  }
  
  thead{
    color: rgb(238, 234, 26);
    font-weight: bold;
    font-style: italic;
    background-color: darkred;
  }
  
  .frmInput{
    background-color: lightgray;
  }

  