/*-----------------INDEX---------------------*/
  /*** 1.0 BOX SIZING ***/
  /*** 2.0 COLOR ***/
  	/* 2.1 #FFF - White */
  	/* 2.2 #282828 - Graphite */
  	/* 2.3 #080808 - Almost Black */
  /*** 3.0 TEXT & FONTS ***/
  /*** 4.0 PAGE & TOP CONSTRUCTION ***/
  /*** 5.0 PANELS ***/
  /*** 6.0 TABLE ***/
  /*** 7.0 FORM ***/
/*------------------------------------------*/

/*** 1.0 BOX SIZING ***/
* {
    box-sizing: border-box;
  }
  /* Keep border and padding inside the box measurement */
  
  /*** 3.0 TEXT & FONTS ***/
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  
  .theTitle{
      font-family: 'Montserrat', sans-serif;
      font-size: 10vw;
      text-align: left;
      margin: 0px;
      padding-left: 20px;
      color: #FFF; /* white */
  }
  h3{
      color: #FFF; /* white */
  }
  .tag-line{
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      margin: 0px;
      padding-left: 20px;
      color: #FFF; /* white */
  }
  
  /*** 4.0 PAGE & TOP CONSTRUCTION ***/
  html, body {
    height: 100%;
  }
  body{
      background-color: #282828; /* Graphite */
  }
  
  .myHeader{
      margin-top: 0px;
      margin-bottom: 30px;
      border: 0px;
      padding-top: 20px;
      padding-left: 10px;
      height: 200px;
      background-image: url("../images/train_lights.jpg");
  }
  
  /*** 5.0 PANELS ***/
  thead{
      font-weight: bold;
  }
  
  /*** 7.0 FOOTER ***/
  .sticky-fix{
      padding-bottom: 85px;
  }
  footer{
    background-color: rgba(8,8,8,0.5);
    height: 85px;
    padding-top: 10px;
    padding-left: 20px;
  }
  .github{
      text-align: left;
      float: left;
      width: 25%;
      position: relative;
       top: 50%;
      transform: translateY(-50%);
  }
  .html5{
      text-align: right;
      float: right;
      width: 25%;
      position: relative;
       top: 50%;
      transform: translateY(-50%);
  }